body{
font-family: Arial;
background-color:#f4f4f4;
margin:40px;
}

header{
text-align:center;
}

h1{
color:#333;
}

h2{
color:#777;
}

section{
background:white;
padding:20px;
margin-top:20px;
border-radius:8px;
}

.profile{
display:block;
margin:auto;
width:150px;
border-radius:50%;
}